*{
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
font-family: sans-serif;
}

body{
    font-family: 'Courier New';
}

nav{
    background: #0553e4; 
    height: 80px;
    width: 100%;
}

label.logo{
    color:white;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,a:hover{
    background: rgba(81, 81, 255, 0.979);
    transition: 1s;
}

section{
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    display: flex; /*Este es el que lo centra*/
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
section.carrusel{
    height: 60vh;
    width: 25vw;
    left: 0;
    top: 0;
}

#Exp{
    background: linear-gradient(-45deg, white 30%, rgb(135, 133, 250) 0%) ;
    z-index: -2;
}
#SM{
    background: linear-gradient(-45deg, white 30%, rgb(6, 37, 122) 0%) ;
    z-index: -2;
}
#S{
    background: linear-gradient(-45deg, white 30%, rgb(135, 133, 250) 0%) ;
    z-index: -2;
}/*
#C{
    background: linear-gradient(-45deg, white 30%, rgb(6, 37, 122) 0%) ;
    z-index: -20;
}
*/

    #

    #slider {
        overflow: hidden;
    }
    #slider figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 20s slider infinite;
    }
    #slider figure img {
        width: 20%;
        float: left;
    }
    
    @keyframes slider {
        0% {
            left: 0;
        }
        20% {
            left: 0;
        }
        25% {
            left: -100%;
        }
        45% {
            left: -100%;
        }
        50% {
            left: -200%;
        }
        70% {
            left: -200%;
        }
        75% {
            left: -300%;
        }
        95% {
            left: -300%;
        }
        100% {
            left: -400%;
        }
    }

.formulario{
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20 px 1px rbga(0,0,0,0.3);
    position: relative;
    align-items: center;
}


.formulario_input, .formulario_label, .formulario_submit{
    /*color: white;*/
    display: block;
    width: 100%;
    font-size: 0.5cm;    
}

.formulario_titulo{
    text-align: center;
    margin-top: 0;
    color: rbga(0,0,0,0.3);
}

.formulario_input{
    padding: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 40px;
}

.formulario_label{
    color: rgba(0,0,0,0.5);
    padding-left: 15px;
    position: absolute;
    margin-top: -72px;
    z-index: -1;
    transition: all 0.2s;
}

.formulario_men{
    padding: 20px;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 40px;
}

.formulario_submit{
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.formulario_input:focus + .formulario_label{
    margin-top: -110px;
}

.fijar{
    margin-top: -110px;
}